<!-- py-5 = padding y-axis 5 

mt-auto gets the footer down to bottom once body is set to display

Why we use margin auto?
flex column goes top to bottom
align self is used to move one item across x axis,
align items we can use to align everything from left to right
justify content affects everything. for e.g, justify flex-end would move everything to the bottom on y-axis. 
If we want one thing to move on the main axis, there is no justify self. Therefore, margin top/left auto is used
-->
<footer class="footer bg-dark py-3 mt-auto"> 
    <div class="container">
        <span class="text-muted">&copy; YelpCamp</span>
    </div>
</footer>